@import "tailwindcss";

@theme {
  --color-brand-slate: #30343f;
  --color-brand-bg: #fafaff;
  --color-brand-accent: #e4d9ff;
  --color-brand-primary: #273469;
  --color-brand-navy: #1e2749;
}

@layer base {
  body {
    background-color: #fafaff;
    color: #30343f;
    min-height: 100vh;
  }
}